<% if logged_in? %>
  <div>
    <%= image_tag recipe.image.url(:thumb) %>
    <p><%= link_to recipe.title, recipe_path(recipe) %></p>
  </div>
<% else %>
  <div>
    <%= image_tag recipe.image.url(:thumb) %>
    <p><%= recipe.title %></p>
  </div>
<% end %>
