@media screen and (min-width: 1000px) {
  .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  }

  .header {
    grid-column: 1/7;
    text-align: center;
  }

  .recipe-box {
    margin: 10px;
    border: 5px solid green;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
  }

  .recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
  }

  .ingredients {
    margin: 10px;
    grid-column: 2/4;
    border: 5px solid blue;
  }

  .instructions {
    margin: 10px;
    grid-column: 4/6;
    border: 5px dashed black;
  }

  .pin-buttons {
    grid-column: 1/7;
    text-align: center;
    border: 5px dotted black;
  }
}

@media screen and (max-width: 999px) {
  .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  }
  .header {
    grid-column: 1/3;
    text-align: center;
  }

  .recipe-box {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 10px;
    border: 5px solid green;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
  }

  .index-image {
    grid-column: 1/2;
  }
  .index-title {
    grid-column: 2/3;
  }
}

nav {

}

h1 {
  font-family: 'Amaranth', sans-serif;
}
body {
  font-family: 'Arapey', serif;
}
.cook-time {
  font-style: italic;
}

.ingredients, .instructions {
  background-color: lightgray;
}
